<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" />
	</startup>
	<appSettings>
		<!--CONEXION LAPTOP PABLO PARA CLINICAS-->
		<!--<add key="Conexion" value="+WNXyWlZ4J6wD6jlcahHwMgMQ/zPp1YIzBb498KE8aRKh/1iqPFeecAz0eUGLACo"/>-->
		<!--CONEXION LAPTOP PABLO PARA VIDAMED ESTETICA-->
		<!--<add key="Conexion" value="Kc3T9t7OLfUoXr4o6eligoYTyxy1Ff7PxG2th19GpcixC83RdM/p2kwWxaxEEH3KOJc03uvCIyyUWpfHOkqZnA=="/>-->
		<!--SERVIDOR PABLURAS-->
		<!--<add key="Conexion" value="+WNXyWlZ4J6wD6jlcahHwMgMQ/zPp1YIzBb498KE8aRKh/1iqPFeecAz0eUGLACo"/>-->
		<!--servidor pabluras pruebas integral-->
		<!--<add key="Conexion" value="p//J9v2Ymc6fAGj26nrj1mN0OQHMJrGn4Tl379ucN4g6IlcyePunAX9ZvlaCmsxk"/>-->
		<!--SERVIDOR LOCAL [solo comentar]-->
		<!--<add key="Conexion" value="XttHfzrzQj1z1eXv1mhFRla1/8oCEbtvjemY+qZhNiZSgNUOkgkO4goSWb9YW3EoBh8xhUNiHbw="/>-->
		<!--SERVIDOR LOCAL [solo comentar]-->
		<!--<add key="Conexion" value="XttHfzrzQj1Sxpr4aN7zFPdqNWnwT6GdS3x+AOHAH5bFuZsjQwLNK9Cckt7Vd9ym" />-->
		<!--<add key="Conexion" value="s4AaoaWjWITd0UANJtaTn0WpA6yZMw2xCsRqQjoIEYWkC0CY5wGzCj9TvBXA+Y4olK7EvXqjlClCdnV74e1b2g=="/>-->
		<!--LOCAL Alianza desarrollo-->
		<!--<add key="Conexion" value="8v77h+3FNQ3jczM1IJ9ZbyY+j2VWLdrPGiQhbfv4kifTQ2WvBE0YkW0Ex6WPpNpE" />-->
		<!--SERVIDOR MAD -->
		<!--<add key="Conexion" value="Kc3T9t7OLfX+lxCfzBUa/e9Gk7OWgLGopQohp0HlHxq+MJZkP8zdUuxfDShDn6vRJpdh000ejZw="/>-->
		<!--HIS3000 - Servidores de prueba GAP-->
		<!--desarrollo base ECOP 10.10.7.5 ECOP-->
		<!--<add key="Conexion" value="p//J9v2Ymc6fAGj26nrj1lZVieZAoAWOyonEgmVy9360MGvxYM3EB1BP6/sOztUY"/>-->
		<!--desarrollo base  ALIANZA 10.10.7.12--> 
		<!--<add key="Conexion" value="p//J9v2Ymc4fCBBLNmPyZ0l2KAlQBX6fVPN8O+V6IZ3z3nqF91cDFO2B1nbA/ROh" />-->
		<!--desarrollo base  INTEGRAL 10.10.7.18-->
		<!--<add key="Conexion" value="p//J9v2Ymc4lUfjV1Fx0Tdq4fJnHTxnE7/PIg0Q3anX4yLlcBXAsSN2Vz+Lmstje" />-->
		<!--desarrollo MAQUINA DELL -->
		<!--<add key="Conexion" value="K9qVXA/Oz0g7akmmu07BkqLfnpHXJCDyBfrNWACFa0nuIvem/U5DvA==" />-->
		<!--SERVIDOR 10.10.7.4 -->
		<!--<add key="Conexion" value="p//J9v2Ymc5JuZMY7n2KES/TvkpPc39IGFowLUbKje/Zu/0MgK0ev1I7fxmwP8hY"/>-->
		<!--SERVIDOR 10.10.7.16 -->
		<!--<add key="Conexion" value="p//J9v2Ymc67O+qMbkt2PRGP0nBZ47AtYgZIBfGIukl3OeB5e3FfzDbMyq0P5/FN"/>-->
		<!--PC-NEGRA -->
		<!--<add key="Conexion" value="K9qVXA/Oz0g7akmmu07BkqLfnpHXJCDyBftNWACFa0nuIvem/U5DvA=="/>-->
		<!--SERVIDOR 10.10.7.2 Falconi-->
		<!--<add key="Conexion" value="p//J9v2Ymc5ees1C3ZCYI2NmIKbYnQEdDoN2dHEpURh8YTVbADSy7j8LVBIhfndi" />-->
		<!--SERVIDOR OLYMPUS-->
		<!--<add key="Conexion" value="R4GLt8P3L+DlWEgVFW5J/TxT2hDc4vBSXLzIiK16d/8buav9d5VWRakuFJMAN1Qo" />-->
		<!--desarrollo base  falconi 172.120.10.55 base his3000-->
		<!--<add key="Conexion" value="rvWWp+jIakHy6VAHTOS6EVwMPdKQpVRUIZbmdRbCEUjNrht4w3m0tTPlSurHzNIH"/>-->
		<!--<add key="Conexion" value="p//J9v2Ymc4fCBBLNmPyZ7cPkuBcWHaSFjMzVb3dCuN9mUpjUQzwAJna1UTgo9nExpcif90vJII=" />-->
		<!--SERVIDOR INTEGRAL-->
		<!--<add key="Conexion" value="8v77h+3FNQ11g58hxH3uJ1X0BXb3kME/hIO/gMl2VW5RE053cRMEV18924Xhvg52" />-->
		<!--desarrollo base  ALIANZA 192.168.20.100 ALIANZA-->
		<!--<add key="Conexion" value="8v77h+3FNQ3jczM1IJ9ZbyY+j2VWLdrPGiQhbfv4kifTQ2WvBE0YkW0Ex6WPpNpE"/>-->
		<!--LOCAL INTEGRAL desarrollo-->
		<!--pruebas base  ALIANZA 192.168.20.200 ALIANZA-->
		<!--<add key="Conexion" value="8v77h+3FNQ2cWAvfWOGGaBvDwhg2B79P4GeY3ejbdNupWSUWUrfzewfvnR81Jeisi0ZFD0xKYmw="/>-->
		<!--desarrollo base 192.168.0.171 PASTEUR-->
		<!--<add key="Conexion" value="8v77h+3FNQ3ar91P15ze8ov9EWtnPTFibshzhSnlaz1U6LNRPD53wPm8DDlIdLvJCD8xsHVcy5s="/>-->
		<!--desarrollo base 192.168.0.101 PASTEUR PRUEBAS-->
		<add key="Conexion" value="8v77h+3FNQ0J9+TsZoR2eIPdYH1GXw0RONbhdhsEAjGFxk+bbW6uamJzUL4tD7r5lqs9FwWuRWo=" />
		<!--desarrollo base MAQUINA CRISTIAN-->
		<!--<add key="Conexion" value="OB8ebTRR/lJTxp2JRoQFlzTpqIen8RGX0bvP0V32TJpJv0k91XC4Dw==" />-->
		<!--desarrollo base 192.168.10.140 INTEGRAL-->
		<!--<add key="Conexion" value="8v77h+3FNQ11g58hxH3uJ1X0BXb3kME/hIO/gMl2VW5RE053cRMEV18924Xhvg52" />-->
		<!--desarrollo base 192.168.10.140 OLYMPUS-->
		<!--<add key="Conexion" value="8v77h+3FNQ2ZTOlYdIRQudsWgsAdDwixHqRJp/o5TBlFk3mKa+O4rlm49CDAF/ti" />-->
		<!--SIC3000 - NUNCA COMENTAR!!!-->
		<add key="ConexionSic3000" value="p//J9v2Ymc6PoA5yUxHIic0xXQedim+TUAMNziBpZvIoXvbGSMp9pToHuP0TOIJT" />
		<add key="ConexionCg3000" value="p//J9v2Ymc4ako2KiFOEVmSeAfeGcTN2gzHuITuzEP5XIGPiWMcWfA==" />
		<add key="ConexionSeries000" value="p//J9v2Ymc4gD53PiMJiUYEw911EZb0fUnvvtwyGtYGtje3dvL0/SsuOdsCTC6bSnMuO4z0KTZXGZLcTuGkAZA==" />

		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<!---->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71e9bce111e9429c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>