<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HIS3000BDEntAdmision" connectionString="metadata=res://*/HisModelo.csdl|res://*/HisModelo.ssdl|res://*/HisModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.1.103;Initial Catalog=His3000;Persist Security Info=True;User ID=His3000hcp;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>