<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Blue</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>

    <!--Base de Datos Pasteur Pruebas-->
    <!--<add name="Sic3000" connectionString="data source=Envy-Tz;initial catalog=Sic3000;persist security info=True;user id=sa;Password=Gapgr2011;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Sic3000Entities4" connectionString="metadata=res://*/Model.Sic3000.csdl|res://*/Model.Sic3000.ssdl|res://*/Model.Sic3000.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.101;initial catalog=Sic3000;persist security info=True;user id=sa;password=His.Pasteur*2020;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="His3000Entities" connectionString="metadata=res://*/Model.His3000.csdl|res://*/Model.His3000.ssdl|res://*/Model.His3000.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.101;initial catalog=His3000;persist security info=True;user id=sa;password=His.Pasteur*2020;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Cg3000Entities" connectionString="metadata=res://*/Model.Cg3000.csdl|res://*/Model.Cg3000.ssdl|res://*/Model.Cg3000.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.101;initial catalog=Cg3000;persist security info=True;user id=sa;password=His.Pasteur*2020;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />-->



    <!--base de datos PRODUCCION-->
    <!--<add name="Sic3000" connectionString="data source=Envy-Tz;initial catalog=Sic3000;persist security info=True;user id=sa;Password=Gapgr2011;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Sic3000Entities4" connectionString="metadata=res://*/Model.Sic3000.csdl|res://*/Model.Sic3000.ssdl|res://*/Model.Sic3000.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.171;initial catalog=Sic3000;persist security info=True;user id=sa;password=His.Pasteur*2020;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="His3000Entities" connectionString="metadata=res://*/Model.His3000.csdl|res://*/Model.His3000.ssdl|res://*/Model.His3000.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.171;initial catalog=His3000;persist security info=True;user id=sa;password=His.Pasteur*2020;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Cg3000Entities" connectionString="metadata=res://*/Model.Cg3000.csdl|res://*/Model.Cg3000.ssdl|res://*/Model.Cg3000.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.171;initial catalog=Cg3000;persist security info=True;user id=sa;password=His.Pasteur*2020;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />-->




    <!--Base de Datos local-->
    <add name="Sic3000" connectionString="data source=Envy-Tz;initial catalog=Sic3000;persist security info=True;user id=sa;Password=Gapgr2011;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Sic3000Entities4" connectionString="metadata=res://*/Model.Sic3000.csdl|res://*/Model.Sic3000.ssdl|res://*/Model.Sic3000.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HISALIANZA;initial catalog=Sic3000;persist security info=True;user id=sa;password=Gapgr2011;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="His3000Entities" connectionString="metadata=res://*/Model.His3000.csdl|res://*/Model.His3000.ssdl|res://*/Model.His3000.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HISALIANZA;initial catalog=His3000;persist security info=True;user id=sa;password=Gapgr2011;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Cg3000Entities" connectionString="metadata=res://*/Model.Cg3000.csdl|res://*/Model.Cg3000.ssdl|res://*/Model.Cg3000.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HISALIANZA;initial catalog=Cg3000;persist security info=True;user id=sa;password=Gapgr2011;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>