<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="His.Entidades.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Conexion" value="s4AaoaWjWITd0UANJtaTn0WpA6yZMw2xCsRqQjoIEYWkC0CY5wGzCj9TvBXA+Y4olK7EvXqjlClCdnV74e1b2g==" />
    <!--<add key="Conexion" value="I967TxT1onW2PcAWm4wgnhe8TdF3X0Bn6qNjfFfpmJv48JJSqw0R1A=="/>-->
  </appSettings>
  <!--<connectionStrings>
    <add name="SqlServer" connectionString="Data Source=SQLSERVERPROD-GAP_SERVER2008;Initial Catalog=HIS3000BD;User ID=sa;Password=Gap2010;" />

  </connectionStrings>-->
  <connectionStrings>
    <add name="HIS3000BDEntities" connectionString="metadata=res://*/HisModelo.csdl|res://*/HisModelo.ssdl|res://*/HisModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8G3U70O\MAD;initial catalog=His3000;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SERIES3000_AUDITORIAEntities" connectionString="metadata=res://*/SeriesModelo.csdl|res://*/SeriesModelo.ssdl|res://*/SeriesModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HISALIANZA;initial catalog=SERIES3000_AUDITORIA;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Cg3000Entities" connectionString="metadata=res://*/CgModelo.csdl|res://*/CgModelo.ssdl|res://*/CgModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HISALIANZA;initial catalog=Cg3000;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Sic3000Entities" connectionString="metadata=res://*/SicModelo.csdl|res://*/SicModelo.ssdl|res://*/SicModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HISALIANZA;initial catalog=Sic3000;user id=sa;password=Gapgr2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <His.Entidades.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </His.Entidades.Properties.Settings>
  </userSettings>
</configuration>
<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Conexion" value="s4AaoaWjWITd0UANJtaTn0WpA6yZMw2xCsRqQjoIEYWkC0CY5wGzCj9TvBXA+Y4olK7EvXqjlClCdnV74e1b2g==" />
    -->
<!--<add key="Conexion" value="I967TxT1onW2PcAWm4wgnhe8TdF3X0Bn6qNjfFfpmJv48JJSqw0R1A=="/>-->
<!--
  </appSettings>
  -->
<!--<connectionStrings>
    <add name="SqlServer" connectionString="Data Source=SQLSERVERPROD-GAP_SERVER2008;Initial Catalog=HIS3000BD;User ID=sa;Password=Gap2010;" />

  </connectionStrings>-->
<!--
  <connectionStrings>
    <add name="HIS3000BDEntities" connectionString="metadata=res://*/HisModelo.csdl|res://*/HisModelo.ssdl|res://*/HisModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.1.103;Initial Catalog=His3000;Persist Security Info=True;User ID=His3000hcp;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>-->