<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Conexion" value="s4AaoaWjWIR8gpC/AiXtxgFB+hO5MEIDwlX4z6bojTrDMzoZF6hPH9Jt6jBpH54c" />
    <!--<add key="Conexion" value="I967TxT1onW2PcAWm4wgnhe8TdF3X0Bn6qNjfFfpmJv48JJSqw0R1A=="/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--<connectionStrings>
    <add name="SqlServer" connectionString="Data Source=SQLSERVERPROD-GAP_SERVER2008;Initial Catalog=HIS3000BD;User ID=sa;Password=Gap2010;" />

  </connectionStrings>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>